<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#deploy-panel" class="mdl-tabs__tab is-active">Deploys</a>
      <a href="#cert-panel" class="mdl-tabs__tab">Dependencies</a>
  </div>

    <div class="mdl-tabs__panel is-active" id="deploy-panel">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <h2>Deploys</h2>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Created</th>
                      <th>Image</th>
                      <th>Namespace</th>
                      <th>Source</th>
                      <th>Target</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr ng-repeat="deploy in deploys">
                            <td>{{deploy.Timestamp  | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
                            <td>
                              <ul ng-repeat="img in deploy.Images">
                                <li>{{img}}</li>
                              </ul>
                            </td>
                            <td>{{deploy.Namespace}}</td>
                            <td>{{deploy.Source}}</td>
                            <td>{{deploy.Target}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div><!-- End of mdl-grid -->
    </div><!-- End of mdl-tabs panel -->


    <div class="mdl-tabs__panel is-active" id="deploy-panel">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <h2>Webhooks</h2>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Created</th>
                      <th>Repo</th>
                      <th>Branch</th>
                      <th>Commit</th>
                      <th>Author</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr ng-repeat="wh in webhooks">
                            <td>{{wh.build.created_at | date:'dd-MM-yyyy HH:mm:ss Z'}}</td>
                            <td>{{wh.repo.name}}</td>
                            <td>{{wh.build.brancj}}</td>
                            <td>{{wh.build.commit}}</td>
                            <td>{{wh.build.author}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div><!-- End of mdl-grid -->
    </div><!-- End of mdl-tabs panel -->

  <div class="mdl-tabs__panel" id="cert-panel">
      <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <h2>Tests</h2>
                <ul ng-repeat="res in results">{{res.repo}}
                    <div  ng-bind-html="renderHtml(res.testsuite)"></div>
                </ul>

            </div>


        </div>
  </div>

</div>
